<launch>
<!--  <node pkg="nodelet" type="nodelet" name="pcl_manager2" args="manager" output="screen" />
-->
  <!-- Run an outlier removal filter -->
  <node pkg="nodelet" type="nodelet" name="outlier_removal" args="load pcl/RadiusOutlierRemoval pcl_manager" output="screen">
    <remap from="~input" to="/octomap_point_cloud_centers" />
    <rosparam>
      min_neighbors: 15
      radius_search: .3
    </rosparam> 
  </node>
</launch>
