<!-- LAUNCH ROBOT -->

<launch>

        <!-- DEFINE ROBOT NAMESPACE -->
        <group ns="$(env ROS_HOSTNAME)">

                <!-- DEFINE ROBOT NAME -->
                <arg name="robot_name"  value="$(env ROS_HOSTNAME)" />

                <!-- LAUNCH ROSFLIGHT -->
		<!--
		<include file="$(find rosflight)/launch/auto_sys_startup.launch">
                        <arg name="vicon" value="false"/>
                        <arg name="optitrack" value="true"/>
                </include>
		-->

                <!-- LAUNCH STATIC TRANSFORMS -->
                <!--
		<include file="$(find octomap_server)/tf/quad_transforms.launch">
                        <arg name="robot_name" value="$(arg robot_name)"/>
                        <arg name="camera" value="true"/>
                        <arg name="realsense_name" value="camera"/>
                </include>
		-->

                <!-- LAUNCH VRPN TRANSFORMS -->
		<!--
		<node pkg="octomap_server" type="vrpn_quad_transform.py" name="vrpn_pose_tf" output="screen">
                        <param name="robot_name" value="$(arg robot_name)" />
                </node>
		-->

                <!-- LAUNCH REALSENSE -->
		<!--
                <include file="$(find realsense2_camera)/launch/rs_octomap.launch">
                        <arg name="camera" value="camera"/>
                        <arg name="tf_prefix" value="$(arg robot_name)"/>
                        <arg name="manager" value="realsense2_camera_manager"/>
                </include>
		-->

                <!-- LAUNCH OCTOMAP SERVER -->
                <include file="$(find octomap_server)/launch/octomap_mapping.launch">
                        <arg name="robot_name" value="$(arg robot_name)"/>
                </include>

                <!-- LAUNCH MAP MERGING -->
                <include file="$(find concat_pcl)/launch/run_map_merge.launch">
                        <arg name="robot_name" value="$(arg robot_name)"/>
                </include>

                <!-- LAUNCH PCL OUTLIER REMOVAL -->
                <!--
		<include file="$(find statistical_removal)/launch/pcl_outlier_removal.launch">
                        <arg name="robot_name" value="$(arg robot_name)"/>
                </include> -->
		-->

        </group>

</launch>

